DATA_ENGINE_BASE_URL=https://tu-servicio.com
DATA_ENGINE_GENERATE_TOKEN=/api/auth/login
DATA_ENGINE_SERVICE_ACCOUNT=cuenta@servicio.com
DATA_ENGINE_SERVICE_PASSWORD=password
ENV=qa
CI=true

# K6 metrics (opcional, fallback si no estan en data.options del summary)
SCENARIO_NAME=load-test
TEST_TYPE=benchmark
